
<div *ngIf="produto">
    <h2><span jhiTranslate="vitrineApp.produto.detail.title">Produto</span> {{produto.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="vitrineApp.produto.nome">Nome</span></dt>
        <dd>
            <span>{{produto.nome}}</span>
        </dd>
        <dt><span jhiTranslate="vitrineApp.produto.dataCadastro">Data Cadastro</span></dt>
        <dd>
            <span>{{produto.dataCadastro | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="vitrineApp.produto.descricao">Descricao</span></dt>
        <dd>
            <span>{{produto.descricao}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'produto/'+ produto.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
